{% extends 'layouts/application.html' %}
{% block content %}


<div class="page about">
    <div class="container">
        <div class="page-content">
            <h3 class="title">Hakkımızda</h3>
            <p class="text">
                Kapalı Çarşı Organizasyon
                <br><br>
                1998 yılında kurulan firmamız batı karadeniz bölgesi başta olmak üzere çevre illere hizmet vermektedir. Firmamız
                yaptığı yeniniklerle organizasyon sektörüne yepyeni bir hareket ve bakış
                acısı getirmis, ortaya çıkardığı başarılı işlerle bugün önemli bir müsteri portföyüne sahiptir. Başarı
                kriterinin müsteri memnuniyeti olması,siz değerli müsterilerimize A'dan Z'ye tüm organizasyonda hizmet
                vermeyi kendine misyon edinmiştir. Kuruluşundan bugüne kadar temel ilke olarak müsteri memnuniyetini
                benimsemis yaratıcı tasarımları, etkili çözümleri, kendi ekip ve ekipmanları ile özel günlerinizi daima
                hatırlanacak birer güne dönüştürmeyi amaçlamaktadır.
                <br><br>
                Bu amaç dogrultusunda sürekli olarak yeniliklerin takipçisi olup, deneyimli ekibimizle püf noktaları
                kaçırmadan hayal ettiginiz bütün ince ayrıntılarıyla, Dügün, Nisan, Kına, Sünnet, Dogum Günü
                organizasyonlarınızı unutulmaz bir şova dönüstürüyoruz. Kongreler, balolar, bayi toplantıları, gala
                yemekleri, konseptli geceler, ürün lansmanları, fuarlar, yılbası geceleri, gibi özel etkinliklerinizde
                firmamızın bu isi ele almasıyla sizleri dogru yönlendirecek ve anlasmalı oldugumuz çözüm ortaklarımızla
                size pek çok uygun seçenek sunmaktayız. </p>
        </div>
    </div>
</div>

{% raw %}
{% endraw %}
{% endblock %}
