{% extends 'layouts/application.html' %}
{% block content %}


<div class="page about">
    <div class="container">
        <div class="content">
            <h3 class="title">Hakkımızda</h3>
            <p class="text">
                Masal Dügün & Davet Organizasyon
                <br><br>
                2006 yılında kurulan firmamız süsleme ile baslayan organizasyon sektörüne yepyeni bir hareket ve bakıs
                acısı getirmis, sizin için yaptıgı çalışmalarla Istanbul ve Türkiye'nin Ceşitli illerinde çalısmalarına
                devam etmektedir. Ortaya çıkardgıı basarılı islerle bugün önemli bir müsteri portföyüne sahiptir. Basarı
                kriterinin müsteri memnuniyeti olması, siz degerli müsterilerimize A'dan Z'ye tüm organizasyonda hizmet
                vermeyi kendine misyon edinmistir. Kurulusundan bugüne kadar temel ilke olarak müsteri memnuniyetini
                benimsemis yaratıcı tasarımları, etkili çözümleri, kendi ekip ve ekipmanları ile özel günlerinizi daima
                hatırlanacak birer güne dönüstürmeyi amaçlamaktadır.
                <br><br>
                Bu amaç dogrultusunda sürekli olarak yeniliklerin takipçisi olup, deneyimli ekibimizle püf noktaları
                kaçırmadan hayal ettiginiz bütün ince ayrıntılarıyla, Dügün, Nisan, Kına, Sünnet, Dogum Günü
                organizasyonlarınızı unutulmaz bir sova dönüstürüyoruz. Kongreler, balolar, bayi toplantıları, gala
                yemekleri, konseptli geceler, ürün lansmanları, fuarlar, yılbası geceleri, gibi özel etkinliklerinizde
                firmamızın bu isi ele almasıyla sizleri dogru yönlendirecek ve anlasmalı oldugumuz çözüm ortaklarımızla
                size pek çok uygun seçenek sunmaktayız. </p>
        </div>
    </div>
</div>

{% raw %}
{% endraw %}
{% endblock %}
