{% extends 'layouts/application.html' %}
{% block content %}

<div id="main-page">
    <div class="page organisation">
        <div class="container">
            <div class="page-content">
                <div class="row">
                    <div class="col-12 col-md-8">
                        {% raw %}
                        <div class="main-content">
                            <div class="page-header">
                                <h3 class="page-title">{{obj.title}}</h3>
<!--                                <div class="header-body" :data-bg="obj.header.img">-->
                                <div class="header-body js-rondom-img">
                                    <span class="overlay"></span>
                                    <div class="content">
                                        <div class="item title">
                                            <h3 class="text">{{obj.header.title}}</h3>
                                        </div>
                                        <div class="item caption">
                                            <p class="text">{{obj.header.text}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="page-inner">
                                <div class="inner-item js-inner-item" v-for="(main, index) in obj.main" :data-index="index">
<!--                                    <div class="item-title">-->
<!--                                        <h4 class="title">{{main.title}}</h4>-->
<!--                                    </div>-->
                                    <div class="item-article js-item-article">

                                    </div>
                                    <div class="item-images" v-if="main.images.length > 0">
                                        <h6>Resimler:</h6>


                                        <a v-for="image in main.images" class="image" :href="baseUrl+'/uploads/'+image.src">
                                            <img class="js-image" :src="baseUrl+'/uploads/'+image.src" :alt="image.alt">
                                        </a>

                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endraw %}
                    </div>
                    <div class="col-12 col-md-4">
                        {% raw %}
                        <div class="link-sidebar">
                            <div class="sidebar-list">
                                <div class="list-item" v-for="item in sidebar">
                                    <div class="item-category"><h3 class="title">{{item.name}}</h3></div>
                                    <div class="link-list">
                                        <ul class="list">
                                            <li class="item" v-for="subItem in item.sub"><a class="link" :href="'/page.html?page='+subItem.slug">{{subItem.name}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endraw %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}