{% extends 'layouts/application.html' %}
{% block content %}


<div class="page prices">
    <div class="container">
        <div class="page-content">
            <h3 class="title">FİYATLAR</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores atque autem blanditiis cupiditate
                deleniti hic, ipsa laboriosam natus numquam quaerat quisquam, tempora! Eius, eos eveniet minima nihil
                sit ullam veritatis!</p>

        </div>
    </div>
</div>

{% raw %}
{% endraw %}
{% endblock %}
