@import "../mixins/index";

body {
  background-color: #eaeaea;
  font-family: 'Roboto', sans-serif;

  @include screen('mobile') {
    padding-bottom: 50px;
    .mob-whatsapp {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #25d366;
      text-align: center;
      color: #fff;
      font-weight: bold;
      font-size: 14px;

      .icon {
        font-size: 22px;
        margin-right: 10px;
      }
    }
  }

}

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.parallax {
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.preloader {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #350909;
  transition: all 300ms ease;

  .icon {
    max-width: 100px;
  }
}

.page {
  .page-content{
    padding: 50px 0;
  }
}
