<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kapalıçarşı</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="app">
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><i class="logo-icon fab fa-opera"></i>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index.html">Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about.html">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/page.html?page=dugun-organizasyonlari">Organizasyonlar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-form.html">Talep Formu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact.html">İletişim</a>
                    </li>
                </ul>
<!--                <form class="kc-form d-none d-lg-block form-inline">-->
<!--                    <input class="form-control" placeholder="Arama">-->
<!--                    <button class="btn-submit btn btn-outline-success" type="submit"><i class="icon fas fa-search"></i></button>-->
<!--                </form>-->
            </div>
        </nav>
    </div>
    {% block content %} {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="left">
                        <div class="content">
                            <h3 class="title">Kapalıçarşı</h3>
                            <i class="logo-icon fab fa-opera"></i>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="right">
                        <div class="row">
                            <div class="col">
                                <ul class="info-list">
                                    <li class="item">
                                        <i class="icon fas fa-map-marker-alt"></i>
                                        <span class="text"><a class="link" href="https://www.google.com/maps/dir//Kapal%C4%B1+%C3%87ar%C5%9F%C4%B1+Organizasyon/data=!4m8!4m7!1m0!1m5!1m1!1s0x409c7c7b743e1e65:0xcc7534d354747f6a!2m2!1d31.789807999999997!2d41.453295" target="_blank" >Mithatpaşa Mahallesi, Zübeyde Hanım Sk. <br> No:6, 67100 Zonguldak Merkez/Zonguldak</a></span>
                                    </li>
                                    <li class="item">
                                        <i class="icon fas fa-phone"></i>
                                        <span class="text"><a class="link" href="tel:+905495390067">+90 549 539 00 67</a></span>
                                    </li>
                                    <li class="item">
                                        <i class="icon fas fa-envelope"></i>
                                        <span class="text"><a href="mailto:kapalicarsi@info.com" class="link">kapalicarsi@info.com</a></span>
                                    </li>
                                </ul>

                            </div>

                            <div class="col">
                                <ul class="social-media-list d-inline-block float-right">
                                    <li class="item">
                                        <a class="link facebook" href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="item">
                                        <a class="link instagram" href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="item">
                                        <a class="link twitter" href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <a href="whatsapp://send?text=Merhaba&phone=+905495390067" class="mob-whatsapp d-md-none">
        <i class="icon fab fa-whatsapp"></i> Whatsapp'dan ulaşmak için tıkla
    </a>
</div>
<div class="preloader"><img class="icon" src="/preloader.gif" alt=""></div>
{% block javascript %}
<script src="/javascripts/app.js"></script>
{% endblock %}
</body>
</html>
